.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
li {
  list-style-type: none;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: #ffffff;
}
.image-alignment {
  height: 80px;
  width: 80px;
  align-self: flex-end;
}
.card-heading {
  color: #171f46;
  font-size: 22px;
}
.card-para {
  color: #64748b;
  font-size: 16px;
}
